<h1>Art</h1>
<div style="display: inline">
  <%= link_to "Upload", new_art_path %>

</div>
<% @arts.each do |a| %>
<div style="display: inline-block;">
  <h3 style="color: rgb(255, 168, 0);"> <%= a.title %></h3>
  <%= image_tag a.avatar.url(:medium) %>
  <%= link_to "Edit", edit_art_path(a) %>

  <p style="color: rgb(32, 255, 177); margin-top: 10px; margin-bottom: 0px;"><%= a.description %></p>

</div>
<% end %>
