<!DOCTYPE html>
<html>
<head>
  <title>WearsArtist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lobster+Two:400italic' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
<%= render partial: "shared/navbar" %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
